$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
) !default;
// Color variable
$color-black-pearl: #1E2226;
//$color-arsenic: #3b444d;
$color-arsenic: $color-black-pearl;
$color-gainsboro-d8: #D8D8D8;
$color-whiskey-sour: #d5bc9e;
$color-mid-grey: #676A6C;
$color-jelly-bean: #44789D;
$color-gun-powder: #58585A;
$color-air-force-blue: #517FA2;
$color-suva-grey: #6d6d6d;
$Suva-Grey: #8F8F8F;
$color-gainsboro: #E1E1E1;
$color-whisper: #E7E7E7;
$color-caribbean-green: #18C29C;
$color-curious-blue: #337AB7;
$color-nobel: #979797;
$color-mariner: #3B5999;
$color-cinnabar: #DE4B39;
$color-cerulean: #007BB6;
$color-rhino: #424A53;
$color-white-smoke: #F4F4F4;
$White-Smoke: #EFEFEF;
$color-night-rider: #333333;
$color-mariner: #4267B2;
$color-pattens-blue: #E1E6E9;
$color-alice-blue: #F9FAFC;
$color-midnight: #283544;
$color-very-light-grey: #C9C9C9;
// filter bg color
$color-laser: #C7A264;
$color-potters-clay: #835E3B;
$color-breaker-bay: #638080;
$color-dark-green: #020303;
$color-boston-blue: #508FAB;
$color-dark-purple: #892786;
$color-mandy: #D24C5E;
$color-affair: #6E4A83;
$color-dark-slate-blue: #343494;
// filter bg color end